.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vscode
test-results/
playwright-report/
tests/
firebase.*
firestore.*
.prettierrc
.npmrc
.firebaserc
.eslintrc.*
playwright.*
